{{ $md := .Site.Params.body_is_markdown | default false }}

{{ with .Site.Params.contact }}
{{ if .enable }}
<section id="contact" class="wrapper style5">
  <div class="inner">
    <header class="major">
      <h2>{{ .title }}</h2>
      {{ partial "body_text.html" (dict "context" . "md" $md) }}
    </header>
    <form method="post"
          action="https://getform.io/f/7f84c88e-2f48-42a6-b463-1c01de031ed8">
      <div class="row gtr-uniform">
        <div class="col-6 col-12-xsmall">
          <input type="text" name="name" id="name" value="" placeholder="{{ i18n "name" }}" required />
        </div>
        <div class="col-6 col-12-xsmall">
          <input type="email" name="mail" id="mail" value="" placeholder="{{ i18n "email" }}" required />
        </div>
        <div class="col-12">
          <ul class="actions">
            <li><input type="submit" value="submit" class="primary" /></li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</section>
{{ end }}
{{ end }}
